{
  "scheduler": ["str",   "cos"],
  "LR"       : ["float", "0.025"],
  "eta_min"  : ["float", "0.001"],
  "epochs"   : ["int",   "250"],
  "warmup"   : ["int",   "0"],
  "optim"    : ["str",   "SGD"],
  "decay"    : ["float", "0.0005"],
  "momentum" : ["float", "0.9"],
  "nesterov" : ["bool",  "1"],
  "criterion": ["str",   "Softmax"],
  "batch_size": ["int",  "256"],
  "population_num": ["int", "50"],
  "parent_num"    : ["int", "10"],
  "search_epoch"  : ["int", "50"],
  "frozen_bn"     : ["bool", "1"],
  "lambda_t"      " ["float", "100"]
}
